aws-infrastructure/.terraform
aws-infrastructure/.terraform.lock.hcl
aws-infrastructure/bastion_host_private_key_demo.pem
aws-infrastructure/terraform.tfstate
aws-infrastructure/terraform.tfstate.backup
api-gateway/.idea
api-gateway/target
user-service/.idea
user-service/target
auth-service/.idea
auth-service/target
aws-infrastructure/.terraform.tfstate.lock.info
aws-infrastructure/modules/lambda/sqs-handler/node_modules
aws-infrastructure/modules/lambda/sqs-handler/package-lock.json
.DS_Store
k8-infrastructure/Chart.lock
*.tgz
.vscode
